body {
    color: rgb(39, 39, 39);
    background-color: #d8cbcb;
    font-family: 'Lato', sans-serif;
    height: 90vh;
    padding-bottom: 30px;
    position: relative;
}

.navbar {
    margin: 10px;
}

.navbar span {
    margin: 0 5px 0 5px;
}

h1 {
    font-family: 'Libre Caslon Display', serif;
    margin: 20px 0 20px 
}

h2 {
    margin-bottom: 75px;
}

h4 {
    margin: 20px 0 10px;
}

#credits {
    font-size: .7em;
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
}

#main-section {
    width: 93%;
    margin-bottom: 65px;
    margin: auto;
}

#name-form {
    display: flex;
}

#name-form * {
    margin: 0;
    padding: 0;
    border: none;
    height: 40px;
}

#name-form input {
    width: 70%;
    font-size: 1.3em;
    font-weight: 300;
    padding-left: 10px;
}

#name-form button {
    width: 10%;
    padding-top: 4px;
    font-size: 1.7em;
    background-color: #8bb7f9;
}

#messages-window {
    padding: 10px;
    height: 60vh;
    background-color:#ececec;
    overflow-y:auto;
}

.gen-message {
    color: #929292;
    font-size: .8em;
}

.date-span {
    color: #929292;
    font-size: .6em;
}

.name-span {
    color: #556aff;
    font-size: .8em;
}
.message-header {
    margin: 0;
}
.user-message {
    margin: 0 0 10px 5px;
}

#input-form {
    display: flex;
    justify-content: center;
}

input {
    border-radius: 0%;
}

#user-message {
    width: 80%;
    height: 40px;
    border: none;
    padding: 0 0 0 5px;
}

#send-message {
    width: 20%;
    height: 40px;
    border: none;
    padding: 0;
    background-color: #8bb7f9;
}

#leave-chat {
    display: flex;
    justify-content: center;
}

#leave-chat-form button{
    margin-top: 60px;
    background-color: #e8bdbd;
}

.hidden {
    display: none;
}