body {
    color: rgb(39, 39, 39);
    background-color: #dcdcdc;
    font-family: 'Lato', sans-serif;
    height: 90vh;
    padding-bottom: 30px;
    position: relative;
}

.navbar {
    margin: 10px;
}

.navbar span {
    margin: 0 5px 0 5px;
}

h1 {
    margin: 20px 0 20px;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 10px 0 10px;
}

h2 {
    margin-bottom: 75px;
}

h4 {
    margin: 20px 0 10px;
}

#credits {
    font-size: .7em;
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
}

#main-section {
    width: 93%;
    height: 85vh;
    display: flex;
    margin: auto;
}

#name-form {
    display: flex;
}

#name-form * {
    margin: 0;
    padding: 0;
    border: none;
    height: 40px;
}

#name-form input {
    width: 70%;
    font-size: 1.3em;
    font-weight: 300;
    padding-left: 10px;
}

#name-form button {
    width: 10%;
    padding-top: 4px;
    font-size: 1.7em;
    background-color: #8bb7f9;
}

#messenger {
    height: 100%;
}

#messages-window {
    padding: 10px;
    height: 90%;
    background-color:#ececec;
    overflow-y:auto;
}

#input-area {
    height: 10%;
}

.gen-message {
    color: #929292;
    font-size: .8em;
}

.date-span {
    color: #929292;
    font-size: .6em;
}

.name-span {
    color: #556aff;
    font-size: .8em;
}
.message-header {
    margin: 0;
}
.user-message {
    margin: 0 0 10px 5px;
}

#input-form {
    display: flex;
    justify-content: center;
    height: 100%;
}

input {
    border-radius: 0%;
}

#user-message {
    width: 80%;
    height: 100%;
    border: none;
    padding: 0 0 0 5px;
}

#send-message {
    width: 20%;
    height: 100%;
    border: none;
    padding: 0;
    background-color: #8bb7f9;
}

#leave-chat {
    display: flex;
    justify-content: center;
}

#leave-chat-form button{
    margin-top: 10px;
    background-color: #e8bdbd;
}

.hidden {
    display: none;
}

/* ===========================

    MY MEETINGS STYLING 

=========================== */
#my-rooms {
    border: 1px solid black;
    padding: 10px;
    width: 95%;
    height: 70%
}




/* ===========================

    NEW MEETING STYLING 

=========================== */


.new-chatroom {
    border: 1px solid black;
    padding: 10px;
    width: 95%;
    height: 30%;
}

.new-chatroom button {
    width: 100px;
    height: 40px;
    background-color: #32c09d;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#start-over-btn {
    text-align: center;
    background-color: rgb(255, 249, 188);
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

/* ===========================

    ABOUT USER SECTION

=========================== */

#about-user {
    border: 1px solid black;
    padding: 10px;
    width: 95%;
    height: 30%;
}

/* ===========================

    ABOUT MEETING SECTION

=========================== */
#about-meeting {
    border: 1px solid black;
    padding: 10px;
    width: 95%;
    height: 70%;
}

#left {
    width: 18%;
    height: 100%;
}

#middle {
    width: 60%;
    height: 100%;
}

#right {
    width: 18%;
    height: 100%;
}