<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ne-xo</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Libre+Caslon+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/app.css">
</head>
<body>

    <div class="navbar">
        <div class="navbar-logo">
            <a href="/"><h1>ne-xo <i class="far fa-comments"></i></h1></a>
        </div>
        <div class="navbar-links">
            {% if session["user_id"] %}
            <a href="/logout">Logout @{{user.username}}</a>
            {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            {% endif %}
        </div>

    </div>

    <div id="main-section">
        <!-- Flash Messages -->
        {% for msg in get_flashed_messages() %}
        <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}  


        {% block content %}
        <!-- Content from the other pages will go here -->





        {% endblock %}

    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="../static/app.js"></script>
</body>
</html>