{% extends 'base.html' %}

{% block content %}
<div id="meeting-room-container">


    <section id="left">

        <div id="my-rooms">
            <p class="section-title">Meetings <i class="fas fa-user-friends"></i></p>
            <ul id="joined-rooms" >
                <li meetingcode="lounge" id="lounge" class="room">Lounge</li>

                <!-- These are the users personal meetings.-->
                {% for room in user.chatrooms %}
                <li meetingcode="{{room.roomcode}}" id="{{room.roomcode}}">{{room.name}}</li>
                {% endfor %}
            </ul>
        </div>

        <div id="new-chatroom">
            <div id="new-meeting-window" class="new-meeting-display">
                <button id="new-meeting-btn" class="new-chatroom-button">New Meeting</button>
            </div>
            <div id="create-or-join-window" class="new-meeting-display  hidden">
                <button id="create-new-btn" class="new-chatroom-button">Create New Meeting</button>
                <p>-- OR --</p>
                <button id="join-exist-btn" class="new-chatroom-button">Join Existing Meeting</button>
            </div>
            <div id="create-new-window" class="new-meeting-display hidden">
                <p>Create New Meeting</p>
                <p>Code: <span id="new-meeting-code-gen">111-111-111</span></p>
                <p>Name of meeting:</p>
                <input id="new-meeting-name-input" type="text" placeholder="Sales Meeting">
                <button id="final-create-new-btn" class="new-chatroom-button">Create!</button>
            </div>
            <div id="join-exist-window" class="new-meeting-display hidden">
                <p>Join Existing Meeting </p>
                <p>Enter Meeting Code:</p>
                <input id="join-meeting-code-input" type="text" placeholder="e.g.,'A1b-2c3-D4e'">
                <button id="final-join-exist-btn" class="new-chatroom-button">Join!</button>
            </div>
            <div id="create-success-window" class="new-meeting-display hidden">
                <p>Created Meeting!</p>
                <p>Copy Meeting Code Below and Share</p>
                <p id="meeting-code-share"></p>
            </div>
            <div id="join-success-window" class="new-meeting-display hidden">
                <p>Joined Succesfully!</p>
            </div>



            <button id="start-over-btn" class="hidden"><i class="fas fa-arrow-left"></i></button>

        </div>
    </section>

    <section id="middle">

        <div id="messenger">
            <div id="messages-window">

            </div>
    
            <div id="input-area">
                <form id="input-form" autocomplete="off">
                    <input type="text" id="user-message" placeholder="Type here...">
                    <button id="send-message"><i class="far fa-paper-plane"></i></button>
                </form>
    
            </div>
        </div>

    </section>

    <section id="right">

        <div id="about-user">
            <div id="user-info" class="user-window">
                <p class="section-title">@ <span class="user-name">{{user.username}}</span><i class="fas fa-user"></i></p>
                <p>Preferred Language:</p>
                <p class="my-language hidden">{{user.preferred_language}}</p>
                {% if user.preferred_language=="english" %}
                <p class="flag">🇬🇧</p>
                {% elif user.preferred_language=="spanish" %}
                <p class="flag">🇪🇸</p>
                {% elif user.preferred_language=="portuguese" %}
                <p class="flag">🇵🇹</p>
                {% endif %}
                <p class="my-user-id hidden">{{user.id}}</p>
                <p class="settings"><i class="fas fa-cog"></i></p>
    
                <!-- <div id="leave-chat">
                    <form id="leave-chat-form" method="POST" action="/logout">
                        <button><i class="fas fa-door-open"></i> <i class="fas fa-walking"></i> EXIT</button>
                    </form>
                </div> -->
            </div>
            
            <div id="change-language" class="user-display hidden">
                <form id="change-language-form" method="POST" action="/language">
                    <label for="select-language">Choose your language</label>
                    <select id="select-language" name="language">
                        <option value="english">English</option>
                        <option value="spanish">Español</option>
                        <option value="portuguese">Português</option>
                    </select>
                    <button><i class="far fa-paper-plane"></i></button>
                </form>
                <div class="button-div">
                    <button id="go-back"><i class="fas fa-arrow-left"></i></button>
                </div>
            </div>
            
    
        </div>

        <div id="about-meeting">
            <div class="no-meeting-info">
            </div>
            <div class="meeting-info hidden">
                <p id="this-meeting-name"></p>
            

                <p>Meeting Members: </p>
                <ul id="meeting-members">
    
                </ul>
                <p>Invite Code:</p>
                <p id="invite-code"></p>
    
                <div class="button-div">
                    <button id="unsubscribe"><i class="fas fa-door-open"></i> <i class="fas fa-walking"></i> EXIT</button>
                </div>
            </div>

            
        </div>

    </section>






    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/app.js"></script>
    <script src="../static/app2.js"></script>


</div>
{% endblock %}