{% extends 'base.html' %}

{% block content %}

        <div class="my-rooms">
            <p>Conversations:</p>
            <ul id="joined-rooms" >
                <li meetingcode="lounge" class="room">Lounge</li>
                <li meetingcode="politics" class="room">Politics</li>
                <li meetingcode="sports" class="room">Sports</li>
                <li meetingcode="food" class="room">Food</li>

                {% for room in user.chatrooms %}
                <li meetingcode="{{room.roomcode}}">{{room.name}}</li>
                {% endfor %}
            </ul>
        </div>
        

        <div class="new-chatroom">
            <p>Create new meeting:</p>
            <button id="new-meeting">New Meeting</button>
            <p>Or join existing one:</p>
            <form id="join-meeting-form">
                <label for="chatroom-code-input">Meeting Code:</label>
                <input id="chatroom-code-input" name="chatroom-code" type="text" placeholder="Enter chatroom code">
                <button>Join</button>
            </form>
        </div>

        <div id="messages-window">

        </div>
        <div id="input-area">
            <form id="input-form" autocomplete="off">
                <input type="text" id="user-message" placeholder="Type here...">
                <button id="send-message">SEND</button>
            </form>

        </div>
        <div id="leave-chat">
            <form id="leave-chat-form" method="POST" action="/logout">
                <button><i class="fas fa-door-open"></i> <i class="fas fa-walking"></i> EXIT</button>
            </form>
        </div>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../static/socketio.js"></script>
{% endblock %}