{% extends 'base.html' %}

{% block content %}

        <div id="greeting-window">
            <h2>Welcome. </h2>
            <h4>Burijji seeks to break down barrieres and bridge communication between speakers of different languages.</h4>


            <!-- <h4>What is your name?</h4>
            <form id="name-form"  method="POST" autocomplete="off">
                <input type="text" name="name" id="name">
                <button><i class="fas fa-arrow-right"></i></button>
            </form> -->
        </div>
        
        <p><a href="/login">Login!</a></p>
        <p><a href="/register">Register!</a></p>

{% endblock %}
